<p style="color: green"><%= notice %></p>

<h2>User's Information</h2>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>

</div>

<h3>User's microposts</h3>
<ul>
  <% @user.microposts.each do |micropost| %>
    <li>
      <p>
        <strong>Post Title:</strong>
        <%= micropost.title %>
      </p>
      <p>
        <strong>Post Body:</strong>
        <%= micropost.content %>
      </p>
      <%= link_to "Show this micropost", user_micropost_path(@user, micropost) %>
    </li>
  <% end %>
</ul>


<%= link_to "New Micropost", new_user_micropost_path(@user) %>

