<p style="color: green"><%= notice %></p>


<h2>Post Information</h2>
<%= render @micropost %>

<div>
  <% if defined?(@user) and @user.id == @micropost.user_id%>
    <%= link_to "Edit this micropost", edit_micropost_path(@micropost) %>  
    <%= button_to "Destroy this micropost", @micropost, method: :delete %>
    <%= link_to "Back to the user", user_path(@user) %>
  <% end %>
  <%= link_to "Back to all microposts", microposts_path %> 
</div>

<h2>All Comments</h2>
<ul>
  <% @micropost.comments.each do |comment| %>
    <li>
      <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
      </p>
      <p>
        <strong>Comment Body:</strong>
        <%= comment.body %>
      </p>
      <p>
        <!-- <%= link_to "Show this comment", micropost_comment_path(@micropost, comment) %> -->
        <!-- <%= link_to "Show this comment", comment %> -->


        <% if defined?(@user) %>
          <%= link_to "Show this comment", user_micropost_comment_path(@user, @micropost, comment) %>
        <% else %>
          <%= link_to "Show this comment", micropost_comment_path(@micropost, comment) %>
        <% end %>

      </p>
    </li>
  <% end %>
</ul>


<h2>Post Comments</h2>

<% if defined?(@user) %>
  <%= link_to "New Comment", new_user_micropost_comment_path(@user, @micropost) %>
<% else %>
  <%= link_to "New Comment", new_micropost_comment_path(@micropost) %>
<% end %>